{% extends 'base.html' %}

{% block title %}
  <title>Register</title>
{% endblock %}

{% block body %}
<div class="columns is-vcentered is-centered is-mobile mt-10">
  <div class="column is-three-quarters-mobile is-two-thirds-tablet is-two-thirds-desktop 
    is-two-quarters-widescreen is-two-quarters-fullhd">
    <form action="/register" method="POST" class="auth-form">
      <h1 class="title is-1 has-text-centered">Register</h1>
      <div class="field">
        <label for="register-email" class="label">Email</label>
        <div class="control">
          <input id="register-email" type="text" class="input" name="email" value="" placeholder="Please enter your email" />
        </div>
      </div>
      <div class="field">
        <label for="register-password" class="label">Password</label>
        <div class="control">
          <input id="register-password" type="password" class="input" name="password" value="" 
          placeholder="Please enter your password" />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}